html, body
{
    
	padding:0px;
	margin:0px;
	transition: 0.4s;
	box-sizing: border-box;
	background-image: url("bg.png");
	position:relative;
}


#contain{
	width:100%;
    height:100%;
  
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 50px auto auto auto;	
	grid-template-areas: 
						"topper1 topper2 topper3"
						"top1 top2 top3"
						"mid1 mid2 mid3"
						"bot1 bot2 bot3";	
						
	grid-column-gap: 0px;
	grid-row-gap:0px;
	box-sizing: border-box;
	margin:0px;
	position:fixed;
	overflow:hidden;

}

#topper1{
	grid-area:topper1;
	background-color:black;
	position:relative;
	

}
#but1{
	height:100%;
	min-width:15%;
	background-color:black;
	border:0px;
	outline: none;
	
}
#pic{
	width:50px;
}

ul{
	list-style: none;	
	width:50%;
	border:0px;
	margin:0px;
	padding:0px;
	display:none;
}
#mu{
	display:none;
}
.bu{
	width:100%;
	height:50px;
	border:0px;
	margin:0px;
	padding:0px;
	
}
.bu:hover{
	background-color:pink;
}



#topper2{
	grid-area:topper2;
	background-color:black;
	color:white;
	text-align:center;
	box-sizing: border-box;
	paddng:0px;
	
}
#topper2 h2 {
	border: 5px solid white;
	margin: 5px auto 0 auto;	
	box-sizing: border-box;
	width:40%;
	
}
#topper3{
	grid-area:topper3;
	background-color:black;
}
#menu{
	background-color:white;
}
#t1{
	grid-area:top1;
	
	
}
#t2{
	grid-area:top2;
	position:relative;
}
#t3{
	grid-area:top3;
	
}
#m1{
	grid-area:mid1;
	
}
#m2{
	grid-area:mid2;
	
}
#m3{
	grid-area:mid3;

}
#b1{
	grid-area:bot1;
	
}
#b2{
	grid-area:bot2;
	
}
#b3{
	grid-area:bot3;
	
}
